.about-us{
  margin-top: 2rem;
  width: 100%;
  height: 25rem;
  background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://www.techworld.com/cmsdata/slideshow/3636407/Software_developers_working_computer_istock_Yuri_Arcurs_thumb800.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 750px) {
    height: 35rem;
   
  }

}