.about-us{
  margin-top: 2rem;
  padding-left: 4rem;
  width: 100%;
  height: 25rem;
  background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://www.techworld.com/cmsdata/slideshow/3636407/Software_developers_working_computer_istock_Yuri_Arcurs_thumb800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
    "title title"
    "description content"
    "button content";
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;

  @media screen and (min-width: 750px) {
    height: 35rem;
   
  }
  
  h3{
    font-size: 4rem;
    font-weight: bolder;
    color: #e3b04b;
    margin-bottom: 1.5rem;  
    grid-area: title;    
  }
  
  p{  
    font-size: 2rem;
    width: 100%;
    grid-area: description;
    align-self: center;   
  }
  
  button{
      font-size: 1rem;
      width: 10rem;
      height: 3rem;
      background: #e3b04b;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      color: #f6f9fc;
      grid-area: button;
      align-self: center;
  }
  
  div{
      display: none;
  }

  .show{
      display: flex;
      grid-area: content;
      align-items: center;
       
        p{
            font-size: 1.5rem;
        }
  }
}