.contact{
  margin-top: 2rem;
  padding-left: 4rem;
  width: 100%;
  height: 25rem;
  background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://www.techworld.com/cmsdata/slideshow/3636407/Software_developers_working_computer_istock_Yuri_Arcurs_thumb800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
    "title title"
    "form form"
    "form form";

  @media screen and (min-width: 750px) {
    height: 35rem;
   
  }
  
  h5{
    grid-area: title; 
    font-size: 4rem;
    font-weight: bolder;
    color: #e3b04b;
    margin-bottom: 1.5rem;      
  }
  
  
  form{
      grid-area: form;
      display: flex;
      flex-direction: column; 
  }

  
  button{
      font-size: 1rem;
      width: 10rem;
      height: 3rem;
      background: #e3b04b;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      color: #f6f9fc;
      grid-area: button;
      align-self: center;
  }
  
  div{
      display: none;
  }
}