nav{
  width: 100%;
  position: fixed;
  display: flex;
  padding: 1rem;
  background: $background;
  z-index: 1;
  justify-content: space-between;
  top: 0;

  a{
    text-decoration: none;
    color: whitesmoke;
    
    &:hover{
        border-bottom: 2.5px solid $amarillo-oficial;
    }
  }
}  

@media screen and (max-width: 799px) {
  nav{
    flex-wrap:wrap;
    
    .navicon{
      position: relative;
      cursor: pointer;
      position: relative;
      user-select: none;
  
      span{
        width: 1.7rem;
        height: 0.2rem;
        background-color: whitesmoke;
        display: block;
        margin-bottom: 0.1rem;
      }
      
    }
  
    .navlist{ /*  Hide the navbar items if the hamburguer button is not pressed*/
      width: 100%;
      height: 0vh;
      padding-left: 0;
      overflow: hidden;
      list-style: none;
      transition-delay: 1s;
      transition: height 1s ease-out;
      background: $background;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      
      a{
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
    } 

    /*BEHAVIOR OF HAMBURGUER MENU : UL display when input be checked */
    #menu{
      display: none;
  
      &:checked ~ *.navlist{
        height: 10rem;
      }
      
       &:checked ~ .navlist a {
        opacity: 1;
      }
    }
  }
}   

header{

  width: 100%;
  height: 18rem;
  background: $background;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw));

  .header-title{
    text-align: center;
    overflow: hidden;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      font-size: 2rem;
      font-weight: bolder;
      justify-self: center;
      align-self: center;   
  
      &:first-child{
        margin-left: -7rem;
        margin-top: -3rem;
      }

      &:last-child{
        margin-right: -7rem;
        margin-bottom: -3rem;
      }      
    }
  }

}


/* Medium screen +850px width */

@media screen and (min-width: 800px) {

  nav{
    height: 3rem;
    flex-direction: row;

  .navicon, #menu{
    display:none;
  }

  .navlist{
    width: 50%;
    height: 0vh;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li{
      margin-right: 2rem;
      text-decoration: none;
    }
  }
 } 

  header{

    height: 30rem;
    width: 100%;

    .header-title{
      height: 30rem;

      p{
        font-size: 4rem;
  
        &:first-child{
          margin-left: -10rem;
          margin-top: -3rem;
        }

        &:last-child{
          margin-right: -10rem;
          margin-bottom: -3rem;
        }
      }
    }
  }
}