main{
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  background:transparent;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "slider-text"
  "cube-text" ;
  grid-row-gap: 2rem;
  grid-auto-flow: row;

  @media screen and (min-width: 700px) {
    grid-row-gap: 4rem;
  }
  
  // All text boxes of the main section

  .main-text{
     width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   

    @media screen and (min-width: 750px) {
        width: 37%;
        margin-right: 5rem;
        margin-left: 5rem;
      }

    h2{
      font-size: 2.8rem;
      font-weight: bolder;
      color: #e3b04b;
      margin-bottom: 1.5rem;
    }

    p{
      color: #757575;;
      font-size: 1.5rem;
      } 
  }
   

  // First main section: slider-text content.
  .slider-text{
    grid-area: slider-text;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    


    .slider{
      width: 17rem;
      height: 17rem;
      position: relative;
      overflow: hidden;
      align-self: center;
      
  
      // Transition of the 3 image.
      img{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity:0;
  
  
        &:nth-child(1){
          animation: slide-in 15s infinite;
          animation-delay:0s;
        }
  
        &:nth-child(2){       
          animation: slide-in 15s infinite;
          animation-delay:5s;
        }
  
        &:nth-child(3){       
          animation: slide-in 15s infinite;
          animation-delay:10s;
        }
      } 
    }
  
  }
  
  .cube-text{
    grid-area: cube-text;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
      
    .cube{ 
      width: 17rem;
      height: 17rem;
      transform-style: preserve-3d;
      transition: transform 1.5s;
      transform: rotateY(-26deg);
      perspective: 800px;
      grid-area: cube;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      align-self: center;

      
      
  
  
      .cube-face {
        width: 150px;
        height: 150px;
        position: absolute;     
        opacity: 0.7;
        border: 3px solid black;
        
      }
  
      .cube-face-back {
        transform: translateZ(-50px);
      }
      
      .cube-face-left {
        transform: translateX(-100px) rotateY(90deg);
      }
  
      .cube-face-right {
        transform: translateX(100px) rotateY(90deg);
      }
  
      .cube-face-top {
        transform: translateY(-100px) rotateX(90deg);
      }
  
      .cube-face-bottom {
        transform: translateY(100px) rotateX(90deg);     
      }
  
      .cube-face-front {
        transform: translateZ(100px);
      }
    }
  }       
}


@keyframes slide-in {

  25% {
    opacity: 1;
  }

  38% {
    opacity: 0;
  }  

} 

@keyframes cube-rotation {
 
  100% { transform: rotateY(360deg)};
}
/*
background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2017/07/15/19/42/manipulation-smartphone-2507499_960_720.jpg");*/