@import "./_variables.scss";

header{
  height: 0rem;
}

.header-title{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h1{
    font-size: 7rem;
  }

  p{
    font-size: 2.5rem;
    font-weight: bolder;
    justify-self: center;
    align-self: center;        
  }
}

/* Medium screen +850px width */
@media screen and (max-width: $super-small-screen) {
  .header-title{
    h1{
      font-size: 4.5rem;
    }
    p{
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: $super-small-screen) {
  .header-title{
    h1{
      font-size: 6rem;
    }
    p{
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: $media-screen) {
  .header-title{
    h1{
      font-size: 10rem;
    }
    p{
      font-size: 3rem;
    }
  }
}