@import "./_variables.scss";
@import "./_header.scss";
@import "./_main.scss";
@import "./_tarjets.scss";
@import "./_technologies.scss";
@import "./_about-us";

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: whitesmoke;
  background: white;
}
