
@import "./_variables.scss";
// @import "./_banner.scss";
// @import "./_main.scss";
// @import "./_tarjets.scss";
// @import "./_technologies.scss";
// @import "./_contact.scss";



*{
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}


body {
  font-family: $font-main;
  color: whitesmoke;
  background: white;
}

