/*SECOND SECTION: FLEX DISPLAY OF SERVICES TARJETS */

.service-tarjets{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card{
  color: black;
  text-align: center;
  height: 21rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);

  // @media screen and (min-width: 780px) {
  //   width: 40%;
  //   height: 22rem;
  // }

  img{
    width: 60%;
    height: 100%;
    margin-left: -20%;

  }

  h3{
    margin-bottom: 1.5rem;
  }
}